In [68]:
from sqlalchemy import create_engine, 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd

In [69]:
conn = "postgres:hotdog@localhost:5432/NBAStats"
engine = create_engine(f'postgresql://{conn}')

In [70]:
# Reflect the Database using automap base
Base = automap_base()

In [72]:
Base.prepare(engine, reflect=True)

In [71]:
Base.classes.keys()

[]

In [73]:
# Save references to each table
Totals = Base.classes.totals
Players = Base.classes.playertable
Per36 = Base.classes.per36
Pergame = Base.classes.pergame
Advanced = Base.classes.advanced
Shooting = Base.classes.shooting
PBP = Base.classes.playbyplay
Perposs = Base.classes.per_poss

In [56]:
session = Session(engine)

In [24]:
# Perform a query to find 2021 info on Totals
curryear = engine.execute('SELECT * FROM Totals WHERE Totals.season = 2021')

In [26]:
df = pd.DataFrame(curryear)

In [27]:
df

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,Precious Achiuwa,PF,21,MIA,28,2,408,72,122,0.59,...,76,112,17,12,15,29,54,181,2021,achiupr01
1,Jaylen Adams,PG,24,MIL,6,0,17,1,8,0.125,...,3,3,2,0,0,0,1,2,2021,adamsja01
2,Steven Adams,C,27,NOP,27,27,760,94,156,0.603,...,123,239,58,26,15,46,51,217,2021,adamsst01
3,Bam Adebayo,C,23,MIA,26,26,873,192,335,0.573,...,190,240,139,25,27,78,67,518,2021,adebaba01
4,LaMarcus Aldridge,C,35,SAS,18,18,480,107,225,0.47600000000000003,...,63,78,35,7,16,16,27,254,2021,aldrila01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,Delon Wright,SG,28,DET,28,23,823,104,228,0.456,...,98,130,137,40,15,34,30,294,2021,wrighde01
477,Thaddeus Young,PF,32,CHI,23,0,592,118,201,0.5870000000000001,...,78,134,101,32,11,47,67,258,2021,youngth01
478,Trae Young,PG,22,ATL,26,26,901,197,459,0.429,...,82,100,241,20,7,111,53,688,2021,youngtr01
479,Cody Zeller,C,28,CHO,15,12,361,63,120,0.525,...,81,120,37,10,9,14,37,151,2021,zelleco01
480,Ivica Zubac,C,23,LAC,30,1,586,95,142,0.669,...,131,199,32,11,24,30,78,250,2021,zubaciv01

In [33]:
df2 = pd.read_sql_table('totals', engine)

In [34]:
df2

,player,pos,age,tm,g,gs,mp,fg,fga,fgpc,...,drb,trb,ast,stl,blk,tov,pf,pts,season,playerid
0,Paul Arizin,SF,23,PHW,66,0,2939,548,1222,0.448,...,0,745,170,0,0,0,250,1674,1952,arizipa01
1,Cliff Barker,SG,31,INO,44,0,494,48,161,0.298,...,0,81,70,0,0,0,56,126,1952,barkecl01
2,Don Barksdale,PF,28,BLB,62,0,2014,272,804,0.338,...,0,601,137,0,0,0,230,781,1952,barksdo01
3,Leo Barnhorst,SF,27,INO,66,0,2344,349,897,0.389,...,0,430,255,0,0,0,196,820,1952,barnhle01
4,Elmer Behnke,C,22,MLH,4,0,55,6,22,0.273,...,0,17,4,0,0,0,13,16,1952,behnkel01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22030,Delon Wright,SG,28,DET,28,23,823,104,228,0.456,...,98,130,137,40,15,34,30,294,2021,wrighde01
22031,Thaddeus Young,PF,32,CHI,23,0,592,118,201,0.587,...,78,134,101,32,11,47,67,258,2021,youngth01
22032,Trae Young,PG,22,ATL,26,26,901,197,459,0.429,...,82,100,241,20,7,111,53,688,2021,youngtr01
22033,Cody Zeller,C,28,CHO,15,12,361,63,120,0.525,...,81,120,37,10,9,14,37,151,2021,zelleco01
22034,Ivica Zubac,C,23,LAC,30,1,586,95,142,0.669,...,131,199,32,11,24,30,78,250,2021,zubaciv01

In [42]:
conn = "postgres:hotdog@localhost:5432/NBAStats"
engine = create_engine(f'postgresql://{conn}')

In [43]:
session = Session(engine)

In [48]:
## Delete 2021 data from Totals
Base.classes.keys()

AttributeError: type object 'Base' has no attribute 'classes'

In [47]:
Base.tables

AttributeError: type object 'Base' has no attribute 'tables'

In [67]:
stmt = (
    delete(Totals).
    where(Totals.season == 2021)
)

In [59]:
stmt

In [63]:
session.execute(stmt)

In [65]:
session.commit()

In [74]:
session.close()